Flask
Flask-Classy
Flask-Negotiation
flask-paginate
Sphinx
sphinx_rtd_theme
sphinxcontrib-httpdomain
celery
pymongo
python-magic
requests
Flask-Login==0.3.2
zxcvbn
GitPython
markdown2
git+https://github.com/g2p/rfc6266#egg=rfc6266
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
